@font-face {
  font-family: OSEBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: OSLight;
  src: url(../fonts/OpenSans-Light.ttf);
  font-display: swap;
}

html {
  font-size: 3.5vh;
}

body {
  font-family: OSLight;
}

.as-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  color: #0000004d;
}

.name-emp {
  font-family: OSEBold;
  color: #000;
}

h5 {
  text-transform: uppercase;
  color: #0000007a;
  font-size: 1rem;
}

h1,
h5,
figure,
.about-me {
  text-align: center;
  padding: 0.1rem;
  margin: 0;
}

figure {
  text-align: center;
}

figure img {
  width: 8rem;
  border-radius: 50%;
}

.about-me {
  font-size: 1rem;
  text-align: center;
}

.about-me p {
  margin: 0.5rem;
}

.as-links {
  margin-top: 2rem;
}

.as-links a {
  margin: 0 2vw;
  color: #0000007a;
  text-decoration: none;
}

.as-links a:hover {
  color: #000;
}

.highlight {
  text-decoration: underline dotted;
}
